@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: bisque;
}

.form {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background-color: cyan;
  border-bottom: 2px solid #333333;
  position: fixed;
  margin-bottom: 20px;
  overflow: hidden;
}

form {
  width: 80%;
  margin: 5px 0 5px 10px;
  overflow: hidden;
}

label {
  width: 200px;
  font-size: 2em;
  margin-right: 20px;
}

input[type='text'] {
  padding: 10px;
  width: 250px;
  height: 40px;
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: #d3e7e7;
}

button {
  border: none;
  outline: none;
  font-size: 1em;
  text-align: center;
  background-color: yellow;
  padding: 3px;
  margin-left: 10px;
  width: 80px;
  height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
button:hover {
  cursor: pointer;
}

.more {
  float: right;
  margin: 0 20px 0 0;
  border: none;
  outline: none;
  font-size: 1em;
  text-align: center;
  background-color: yellow;
  padding: 3px;
  width: 80px;
  height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.more:hover {
  cursor: pointer;
}

section {
  width: 100%;
  margin-top: 6em;
  color: #333333;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

figure {
  margin: 20px 10px 10px 20px;
  width: 150px;
  height: 170px;
  overflow: visible;
}

figure:hover {
  transform: scale(1.2);
}

img {
  border: 5px solid yellow;
  padding: 5px;
  width: 150px;
  height: 120px;
  object-fit: cover;
  -webkit-box-shadow: 7px 7px 5px -1px rgba(219, 115, 46, 1);
  -moz-box-shadow: 7px 7px 5px -1px rgba(219, 115, 46, 1);
  box-shadow: 7px 7px 5px -1px rgba(219, 115, 46, 1);
}

figcaption {
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

errorClass h1 {
  font-size: 3em;
  text-align: center;
}
